.App {
  text-align: center;
  font-family: Arial, sans-serif;
}
button {
  padding: 10px 20px;
  margin: 10px;
  background-color: yellowgreen;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: yellow;
}